
@charset "ISO-8859-1";

.main{

    width: 100%;
    height: auto;
    background-color: gray;
}
#navbar,#reg{
    width: 100%;

}

#navbar{

    background-color: white;
}


#navbar,#reg{


    height: 100px;
   

}

#anchorlinks{

    margin-left: 400px;
}

#anchorlinks a{

    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 20px;
}
#anchorlinks a:hover{

    background-color: #675DE8;
    color: white;
    border-radius: 8px;

}


#navbar span,#anchorlinks,#icons{
    display: inline;

}

#icons{
    line-height: 100px;
    margin-left: 700px;
}
#icons img{

    width: 30px;
    height: 30px;
    padding-left: 10px;

}

#navbar span{
    line-height: 100px;
    margin-left: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}




#viewproducts{
	
	width: 100%;
	height: 900px;
	background-color: bisque;
}

#viewproducts table{
	
	width: 100%;
	height: auto;
	border: 2px solid black;
}

table .colhead{
	
	height: 100px;
	background-color: chocolate;
	border: 2px solid black;
	
}

table tr,th{
	height: 50px;
	
	border: 2px solid black;
	
}



#reg{

    background-color: blueviolet;
    line-height: 100px;
    
}

#reg span{

    margin-left: 40%;
    font-size: 40px;
    font-weight: bold;
}



