@charset "ISO-8859-1";

.main{

    width: 100%;
    height: auto;
    background-color: gray;
}
#navbar,#reg,#imgslider,#shipping,#ourproducts,#offer,#address{
    width: 100%;

}

#navbar{

    background-color: white;
}


#navbar,#reg{


    height: 100px;
   

}

#anchorlinks{

    margin-left: 400px;
}

#anchorlinks a{

    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 20px;
}
#anchorlinks a:hover{

    background-color: #675DE8;
    color: white;
    border-radius: 8px;

}


#navbar span,#anchorlinks,#icons{
    display: inline;

}

#icons{
    line-height: 100px;
    margin-left: 700px;
}
#icons img{

    width: 30px;
    height: 30px;
    padding-left: 10px;

}

#navbar span{
    line-height: 100px;
    margin-left: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#imgslider{

    height: 600px;
    background-image: url(laptopmobilecover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 600px;

}

#shipping{
 

 
    height: 300px;
    background-color: white;
}

#sh1,#sh2,#sh3,#sh4{
  
margin-top: 100px;
    display: inline-block;
    margin-left: 200px;

  
   
}

#ourproducts{


    height: auto;
    background-image: url("bgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}

#productslist{
    height: auto;
    background-image: url("bgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;


}

#ourproducts img{

    width: 300px;
    height: 300px;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 70px;
    border-radius: 5px;
}

#ourproducts img:hover{

    -webkit-transform: scale(1.2,1.2);
}


#offer{

    height: 400px;
    background-color: blueviolet;
}

#reg{

    background-color: blueviolet;
    line-height: 100px;
    
}

#reg span{

    margin-left: 40%;
    font-size: 40px;
    font-weight: bold;
}



